body {
	margin:0;
	padding:0;
	background: #000000;
}

#screen {
	text-align: center;
    margin-top: 50px;
    line-height: 0;
}

.pixel {
	display: inline-block;
    height: 16px;
    width: 16px;
    background: #404040;
    border-radius: 16px;
    margin: 2px;
    border: 1px solid #1b1b1b;
}